---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Datenschutz - Gemeinschaftspraxis Leufkens">
  <div class="bg-white py-16 md:py-24">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 prose prose-stone lg:prose-lg">
      <h1 class="font-heading text-teal-900">Datenschutzerklärung</h1>
      
      <h3>1. Datenschutz auf einen Blick</h3>
      <p>
        <strong>Allgemeine Hinweise</strong><br>
        Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.
      </p>

      <h3>2. Allgemeine Hinweise und Pflichtinformationen</h3>
      <p>
        <strong>Datenschutz</strong><br>
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
      </p>
      
      <p>
        <strong>Hinweis zur verantwortlichen Stelle</strong><br>
        Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
      </p>
      <p>
        Gemeinschaftspraxis Leufkens<br>
        Bahnhofstraße 3<br>
        35764 Sinn<br>
        Telefon: 02772 - 51220
      </p>

      <h3>3. Datenerfassung auf unserer Website</h3>
      <p>
        <strong>Server-Log-Dateien</strong><br>
        Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:
      </p>
      <ul>
        <li>Browsertyp und Browserversion</li>
        <li>Verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>Uhrzeit der Serveranfrage</li>
        <li>IP-Adresse</li>
      </ul>
      <p>
        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
      </p>

      <h3>4. Ihre Rechte</h3>
      <p>
        Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
      </p>
    </div>
  </div>
</Layout>
